body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	display: flex;
	flex-direction: column;
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
}
.postcard-header img {
	width: 50px;
	height: auto;
	margin-right: 10px;
}
.postcard-header h1 {
	width: 200px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-right {
	margin-left: auto;
}
